
.mat-toolbar {
background-color: #002a40;;
  display: flex;flex-wrap: wrap;
  align-items: center;padding: 8px 16px;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

}


.form {

  max-width: 860px;
  margin:  auto;
  border-radius: 4px;
  margin-bottom: 0px;
}

.contenedor {
  background: #fff;
  padding: 20px 40px 10px 40px;
  max-width: 780px;
  margin:  auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgb(19 35 47 / 30%);
}

.padding{
  padding-bottom: 1.25em;
  margin-right: 30px !important;
}
