
<mat-toolbar class="form">
  <a href="/" class="nav-link home"><img src="assets/img/LOGO_INSA BLANCO_COLOR.png" width="130"  title="Home" alt="Home" class="ng-star-inserted"><!----><!----></a>
  <h2 style="color: #fff; margin-left: 450px; margin-bottom: 20px;">Creación de Firma </h2>
</mat-toolbar>

<div class="contenedor" >
  <mat-card>
    <h4>Completa la información para crear una firma</h4>
    <mat-form-field class="padding">
      <input matInput #name (keyup)="0" type="text" placeholder="Nombre completo" />
    </mat-form-field>
    <mat-form-field>
      <input matInput #activity (keyup)="0" type="text" placeholder="Cargo" />
    </mat-form-field>

    <br />
    <mat-form-field class="padding">
      <input matInput #telefono (keyup)="0" type="tel" pattern="[0-9]{9}" mask="+00 09 0000 0000" placeholder="Teléfono" />
    </mat-form-field>
    <mat-form-field class="padding">
      <input matInput #email (keyup)="0" type="email" placeholder="Email" />
    </mat-form-field>
    <mat-form-field class="padding">
      <input matInput #linkedin (keyup)="0" type="text" placeholder="Linkedin" />
    </mat-form-field>

    <br />


    <!-- <button mat-raised-button color="primary">Register</button> -->
  </mat-card>

  <br>
  <mat-card>
    <div>
      <table id="tabla-firma" border="0"  width="360" cellspacing="0" cellpadding="0" style="margin:0px;display:block;clear:both!important; border:1px solid  #dbdbdb">
        <tbody>
        <!--foto logo -->
        <tr>
          <td colspan="2" valign="top" height="140" rowspan="3" cellspacing="0">
            <a  href="https://www.insachile.com/" target="_blank">
              <img _ngcontent-c1=""  src="assets/img/logo-insa.gif"  tabindex="0" width="100%"></a>
          </td>
          <td width="185" cellspacing="2">
          </td>
        </tr>
        <tr>
          <td cellspacing="2"><table width="100" align="right" style="height:25px;padding-left: 40px; padding-top: 10px;">
            <tbody>
            <tr>
              <td ><a href="https://www.youtube.com/channel/UCLchyBi0YDa71N74MeL94lQ"  target="_blank"> <img src="assets/img/ci-you.png" width="28px"  style="margin:0px"></a></td>
              <td ><a href="https://www.linkedin.com/company/insachile/"  target="_blank"><img src="assets/img/ci-in.png" width="22px"  style="margin:0px"></a></td>

            </tr>
            </tbody>
          </table>
          </td>
        </tr>
        <tr>
          <td width="185" rowspan="2" cellspacing="2"><img _ngcontent-c1=""  src="assets/img/sin-foto-insa.gif"  tabindex="0" width="185"></td>
        </tr>
        <tr>
          <td colspan="3" cellspacing="0">
          </td>
        </tr>

        <tr>
          <td colspan="3" cellspacing="0" bgcolor="#F3F3F3">
        <!-- textos -->

        <table bgcolor="#F3F3F3" >
          <tbody>
        <tr>
          <!-- columna izquierda nombre de trabajador -->

          <td colspan="0" rowspan="3"  bgcolor="#F3F3F3" style="color: #282828;font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; font-size:13px;font-weight:bold;  padding: 15px 5px 6px; width:160px; border-right: 1px solid #ccc9c9; " border="0">{{name.value}}</td>
          <td width="34" bgcolor="#F3F3F3" style="margin-bottom:2px; text-align:center; width:20px;   padding-left: 5px;" border="0"><img src="assets/img/telefono.png" style="width: 15px;   padding-top: 10px;"></td>


          <td border="0" bgcolor="#F3F3F3">
            <a href="tel:{{telefono.value}}"style="text-decoration: none !important;color: #282828; font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; float:left; text-align:left; padding-top: 10px;	 font-size: 11px;"  target="_blank">{{telefono.value}}</a></td>

        </tr>
        <tr>
          <td width="34" bgcolor="#F3F3F3" style="margin-bottom:2px; text-align:center; width:20px;     padding-left: 5px;" border="0"><img src="assets/img/email.png" style="width: 15px;"></td>
          <td border="0" bgcolor="#F3F3F3"><a href="mailto:{{email.value}}"  style="text-decoration: none !important;color: #282828; font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; float:left; text-align:left;   font-size: 11px;" target="_blank">{{email.value}}</a></td>
        </tr>
        <tr>
          <td width="34" bgcolor="#F3F3F3" style="margin-bottom:2px; text-align:center; width:20px;     padding-left: 5px;" border="0"><img src="assets/img/in.png" style="width: 14px;"></td>
          <td border="0" bgcolor="#F3F3F3"><a href="https://www.linkedin.com/in/{{linkedin.value}}/"  style="text-decoration: none !important;color: #282828; font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; float:left; text-align:left;   font-size: 11px;" target="_blank">{{linkedin.value}}</a></td>
        </tr>
        <tr>
          <td colspan="0" rowspan="5" valign="top" bgcolor="#F3F3F3" style="font-size:12px;color: #282828;height:15px;font-weight: normal; font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; padding: 0px 0px 10px 6px; border-right: 1px solid #ccc9c9; " border="0">{{activity.value}}</td>
        </tr>

        <tr>
          <td valign="top" bgcolor="#F3F3F3" style="margin-bottom:2px; text-align:center; width:20px;     padding-left: 5px;" border="0"><img src="assets/img/location.png" style="width: 15px;"></td>
          <td rowspan="2" align="left" valign="top" bgcolor="#F3F3F3" border="0"><a href="https://goo.gl/maps/CzmuWYwBy8SxumGu8" style="text-decoration: none !important;color: #282828; font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; float:left; text-align:left; font-size: 11px; padding-bottom: 5px; padding-right: 6px" target="_blank">Augusto Leguia Norte 100, of 406. Las Condes. Santiago. Chile</a>
          </td>
        </tr>

        </tbody>
        </table>

        </td>
        </tr>
        </tbody>
      </table>
      <div>
        <p>Click en el botón, para copiar la firma creada y luego pegar el contenido en la configuración de su administrador de correo </p>
        <button mat-raised-button (click)="copyText()" value="click to copy" data-placement="top" data-toggle="tooltip" title="Click para copiar firma" class="mat-warn" >
          Copiar Firma de correo
        </button>
      </div>
    </div>
  </mat-card>
</div>
